
body { 
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainnav{
  display: flex;
  flex-direction: column;
  opacity: 0.90;
  height: 70px;
  background-color: rgb(244, 236, 236);
  box-shadow: 3px 3px 3px black;
  text-shadow: 1px 1px 2px pink;
 
  
}

.mainul a{
  color: black;
  text-decoration: none;
  font-weight: 800;
  padding-top: 10px;


}

.mainul a:hover{
  box-shadow: 2px 2px 2px 2px #07245f;
  background-color: orange;
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px;

}

.mainul{
  display: flex;
  justify-content: left;
  gap: 15px;
  
}


.maincontentdiv{
  display: flex;
  justify-content: center;  
  padding: 30px;
  margin: 100px;
  margin-left: 40%;
  margin-right: 40%;
  background-image: linear-gradient(to right top,red,blue);
  border-radius: 25px;
  transition: 0.2s;
}

.maincontentdiv:hover{
  
  box-shadow: 3px 3px 3px 3px;
}

.footer{
  position: fixed;
  left: 60%;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  
}



.formdiv textarea:hover{
  border: solid black 1px;
  font-weight:bold;
}


.formdiv inpput{
  border: solid white;
  border-radius: 10px;

}

.centeredh1{
  display: flex;
  justify-content: center;
}

.mainuls li{
  font-weight: 800;
}

.detailsimg{
  height:40px;
  width: 40px;
  border-radius: 50px;
  
}











.profilegriddiv{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 100px;
  justify-items: center;
  align-items: center;
  gap: 60px;
  background-image: url('https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?cs=srgb&dl=pexels-anna-shvets-3962285.jpg&fm=jpg');
  opacity: 0.9;
  background-color: #282c34;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  box-shadow: 5px 10px 18px #888888;
  width: 90%;
  min-height: 20em;
  margin: auto;
  padding-top: 50px;
  text-shadow: 1px 1px 2px pink;
  padding: 20px;
  margin-top: 20px
;

}



.homepagecardimg{
  height: 80%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.homepagecardheader{
  height: 600px;
  width: 500px;
  align-items: center;
  /* border-radius: 20px; */
  background-color:#07245f;
  transition: 0.3s;
  color: white;

}

.homepagecardheader:hover{
  box-shadow: 0 0 30px wheat,0 0 30px #07245f;

}

.profileh1{
  text-align: center;
  font-size: 60px;
  color: white;

}

.profilediv{
  background-color: #282c34;
  margin-top: 30px;
  height: 70%;
  border-radius: 20px;
  height: 20%;
  width: 40%;
}





.profileLink{
  font-size: 60px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: none;
  background-color:inherit;
  display: inline-block;

}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
}


/* spinner css */

.spinner{
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  position: absolute;
  top: 40%;
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* spinner css */


.profileLink{
  transition: 0.2s;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 20px;
}

.profileLink:hover{
  box-shadow: 0 0 30px wheat,0 0 30px red;
  background-color: orange;
  transition: 0.3s;
  border-radius: 10px;
}

.submitbuttonedit{
  text-decoration: none;
}



.formdivedit{
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  padding-bottom: 30px;
  gap: 4px;
  transition: 1s;
  width: 100%;
  height: 100%;
}

.imagediv{
  height: 50%;
  width: 100%;
}

.profileimg{
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.infodiv{
  height: 100%;
  width: 100%;
}

.profilecontainer{
  display: flex;
  justify-content: center;
}

.buttonsdiv{
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}

.closebutton{
  position: relative;
  left: 45%;
  top: 10px;
}

/* OFFERS */


.offersdiv{
  border: solid black 3px;
  display: flex;
  justify-content: center;
  background-color: salmon;
  align-items: center;
 
  
}

.nopagediv{
  height:95vh;
}

.nopageimg{
  width: 100%;
  height: 100%;
}

/* OFFERS */

.maindetails{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 40px;
}

.detailsDiv{
  background-color:#07245f;
  display: flex;
  border-radius: 10px;
  width: 1500px;
  max-width: 1500px;
  box-shadow: 5px 10px 18px #888888;


  height: 750px;
  
}

.descdiv{
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  margin: 70px;
}

.offerimg{
  border-radius: 10px;
  width: 70%;
  
  
}

/* homediv */

.homecarddiv{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.mainheader{
  text-align: center;
  
}

.descbuttonsdiv{
  display: flex;
  justify-content: center;
  
}


/* NEW */

.entry{

  width: 80%;
  min-height: 40em;
  margin: auto;

  background-image: url('https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVvcGxlJTIwd29ya2luZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px 2px pink;
  

}

.entryinfodiv{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: white;
  color: black;
  position: relative;
  top: 510px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}


.alloffersmain a{
  color: black;
  text-decoration: none;
  font-weight: 800;
  padding-top: 10px;
  background-color: rgb(117, 238, 117);
  border-radius: 10px;
  padding: 10px;
  border: solid rgb(209, 202, 202);
  position: relative;
  bottom: 105px;
  left: 600px;
  border-radius: 20px;
  margin-left: 10px;
  
}




.alloffersmain a:hover{
  box-shadow: 2px 2px 2px 2px #07245f;
  background-color: rgb(15, 246, 23);
  transition: 0.3s;
  
  padding: 10px;

}

.entryabout{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-shadow: 1px 1px 2px pink;
  display: flex;

  
}

.websiteabout{
  display: flex;
  flex-direction: column;
  align-content: center;
  
}



.circlediv{
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: solid black;
  align-items: center;
  position:relative;
  left: 1100px;
  bottom: 130px;
  padding: 20px;
  box-shadow: 10px 5px 5px rgb(50, 42, 42);
  box-shadow: 10px 15px 21px #888888;
  
}

.newestthree{
  width: 80%;
  min-height: 20em;
  margin: auto;
  padding-top: 50px;
  text-shadow: 1px 1px 2px pink;
  display: flex;
  padding: 20px;
  margin-bottom: 100px;
}

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left{
  width: 40%;
}


.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.threeholderdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px pink;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 70%;
  margin-left: 30%;
  margin-right: 30%;


}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.creatdiv{
  width: 50%;
  margin: auto;
  background-image: url('https://media.istockphoto.com/id/1312490875/video/man-scanning-product-using-smartphone-in-the-supermarket.jpg?s=640x640&k=20&c=sa4yOsR4ctn1-Oy2shDs-iN5qgMhqXqq0gYMlILs7Dw=');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px 2px pink;
  min-height: 40em;

}


.formdiv{
  background-color: #282c34;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  transition: 1s;
  color: white;
  min-height: 40em;
  padding: 40px;
  margin-top: 40px;
  box-shadow: 5px 10px 18px #888888;

  

}

.allofferslatest{
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px pink;
}

.alloffersnoffers{
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px pink;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 70%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
}

.linksdiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.linksdiv a{
  color: white;
  text-decoration: none;
}